@model DataAccessLayer.Book

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookedFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookedFor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanceledOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanceledOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookPilotMappingID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookPilotMappingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffID)
        </dd>
    </dl>
    
    <form asp-action="CancelBooking">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
